/* You can add global styles to this file, and also import other style files */

:root {
  font-family: sans-serif, 'Open Sans';
  font-size: 16px;
  --text-primary: #3f3f3f;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --bg-danger: #e63462;
  --bg-success: #2ecc71;
  --transition-speed: 100ms;
}

body {
  color: #000;
  background-color: #fff;
  margin: 0;
  padding: 0;
}

main {
  margin-left: 5rem;
  padding: 1rem;
}

h1 {
  margin: 0;
  margin-bottom: 0.45em;
}

button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

.btn {
  padding: 0.5rem 1rem;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 3px;
}

.btn-danger {
  background-color: var(--bg-danger);
  color: #fff;
}

.btn-success {
  background-color: var(--bg-success);
  color: #fff;
}

.container {
  max-width: 1120px;
  margin: auto;
}
